<div class="cvresume-content mdl-layout__content">
    <div class="cvresume-wear-section" style="padding-top: 80px;">
      <div class="cvresume-wear-band">
        <div class="cvresume-wear-band-text">
          <div class="mdl-typography--display-2 mdl-typography--font-thin">
            Stand out from the crowd and Fit in
          </div>
          <p class="mdl-typography--headline mdl-typography--font-thin">
            In a busy marketplace, not standing out is the same as being invisible. - Seth Godin
          </p>
        </div>
      </div>
    </div>
</div>
