$cvr-red-color: #de4e43;
$cvr-dark-red-color: #bb4038;
$cvr-dark-color: #26343b; //#444753;

$theme-name: "default";

$primary: "red";
$accent: "blue";
$warn: "pink";
$background: "grey";
$link: "light-blue";

$dark: false;
$default-color: '500';

$foreground: "foreground-dark";
$foreground-shadow: $foreground-light-shadow;
$primary-black: $cvr-dark-color;
$base-background-color: white;
$base-color: $cvr-red-color;/* ROBOTO DRAFT FONT */